@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  display: flex;
  height: 100vh;
}

h3 {
  display: inline;
  vertical-align: middle;
}
/* NAV  */

aside {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
  width: 15%;
  padding: 3em 2.5rem 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;
}

aside img {
  width: 10rem;
}

aside h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 30px;
}

aside span {
  font-weight: 600;
  color: #0473bb;
}

aside p {
  font-size: 2rem;
  margin-bottom: 10px;
}

.nav {
  gap: 20px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.nav li {
  font-size: 1.75rem;
  position: relative;
  transition: 0.3s;
}

.nav li a:hover, .nav li a svg:hover, .nav li a:focus, .nav li a svg:focus {
  color:  #0473bb;
  font-weight: 700;
  fill: #0473bb;
}

.nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 10px;
  padding: 7.5px;
  border-radius: 10px;
  transition: 0.3s;
}

.nav li svg {
  width: 2.5rem;
  padding-left: 5px;
}


/* LOG UIT */

aside footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}


aside footer a {
  text-decoration: none;
  color: black;
}

aside footer a img {
  width: 2rem;
  vertical-align: middle;
}


/* CARDS */

main {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: repeat(13,1fr);
  width: 100%;
}

main div{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

div:hover {
  transform: scale(1.1);
}

.card1 {
  grid-column: 2 / 5;
  grid-row: 2 / 7;
}

.card2 {
  grid-column: 6 / 9;
  grid-row: 2 / 7;
}

.card3 {
  grid-column: 10 / 13;
  grid-row: 2 / 7;
}

.card4 {
  grid-column: 2 / 5;
  grid-row: 8 / 13;
}

.card5 {
  grid-column: 6 / 9;
  grid-row: 8 / 13;}

.card6 {
  grid-column: 10 / 13;
  grid-row: 8 / 13;
}


/* HOME */

.home .card1, .home .card3, .home .card6 {
  font-size: 3rem;
  text-align: center;
}

.home .card1 p, .home .card3 p {
  padding: 2rem;
}

.home .card6 p {
  padding: 1rem;
}

.home .card1 span, .home .card3 span, .home .card6 span {
  display: block;
}

.home .card2 p:nth-child(1) {
  font-size: 6rem;
}

.home .card2 p:nth-child(2) {
  font-size: 2rem;
  padding: 2rem;
}

.home .card2 p:nth-child(3) {
  font-size: 5rem;
  color: #0473bb;
}

.home .card4 p {
  font-weight: 400;
  font-size: 3rem;
}

.home .card4 p:nth-child(2) {
  padding-bottom: 5rem;
}

.home .card5 p {
  font-weight: 400;
  font-size: 3rem;
}

.home .card5 p:nth-child(2) {
  padding-bottom: 5rem;
}
/* CARDS TIJD */

.tijd .card1 {
  grid-column: 2 / 13;
}

.tijd {
  font-size: 8rem;
  text-align: center;
  
}

.date-letter {
  text-align: center;
  font-size: 6rem;
}

 .date-nummer {
  text-align: center;
  font-size: 4rem;
 }

 /* CONSOLE */

 .card--stopwatch{
  box-shadow: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.timerText{
  font-size: 200%;
}

.button{
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: black;
}
.button--start{
  background: #fdc830;
  border: none;
}
.button--stop{
  background: red;
  border: none;

}
.button--reset{
  background: #f37335;
  border: none;
}



 /* PROFIEL PAGINA */

 .profiel {
  padding: 2rem;
  justify-content: center;
 }

 .profiel article {
  display: flex;
  flex-direction: column;
  padding: 2rem; 
  height: calc(100vh - 8rem);
  justify-content: space-between;
  border-radius: 10px;
 }

 .profiel article div {
  padding: 2rem;
 }

 .profiel article div:nth-child(1) {
  margin-bottom: 10rem;
 }

 .profiel article button {
  color: #ffffff;
  background-color: #0473bb;
  border: none;
  padding: 1rem;
  border-radius: 20px;
 }

 .profiel article button:hover {
  transition: 0.3s;
  background-color: #0472bbca;
 }

 .profiel article div h2 {
  padding: 10px;
  padding-bottom: 3rem;
 }

 .profiel article div h2:nth-child(3) {
  padding-top: 4rem;
 }

 .profiel article div input {
  padding: 0.5rem;
  width: 60vh;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1); 
 }

 .locatie div input {
  margin-bottom: 30px;
}





